
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*about-row*/
.about-row {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}
.about-row .portrait-box {
  max-width: 340px;
}
.about-row .portrait-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-box {
  max-width: 500px;
  margin-left: 40px;
}
.about-box h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  color: var(--pink);
}
.about-box p {
  color: var(--textcol);
}
.about-box p:not(:last-child) {
  margin-bottom: 10px;
}

/*skills-row*/
.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-box h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--hboxcol);
}

/*skills table*/
.skills-table {
  border-collapse: collapse;
  border: none;
}
.skills-table tr:not(:last-child) {
  border-bottom: 3px solid rgb(40, 40, 40);
}
.skills-table th, .skills-table td {
  padding: 15px 20px;
}
.bullet-row {
  display: flex;
  gap: 10px;
}
.bullet-row .bullet-full {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--pink);
}
.bullet-row .bullet-full .shine-effect {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, white, transparent, transparent);
  opacity: 0.5;
}
.bullet-row .bullet-empty {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--textcol);
}

/*skills-list*/
.skills-list {
  list-style-position: outside;
  max-width: 420px;
  padding: 0 10px;
}
.skills-list li {
  text-align: left;
  color: var(--textcol);
}

.skills-list li:not(:last-child) {
  margin-bottom: 10px;
}

/*hobby-row*/
.hobby-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}
.hobby-box > i {
  font-size: 60px;
  background: linear-gradient(to bottom, var(--pink), var(--hboxcol));
  color: transparent;
  -webkit-background-clip: text;
}
.hobby-box > h3 {
  font-size: 24px;
  text-align: center;
  color: var(--hboxcol);
  margin-bottom: 6px;
}
.hobby-box > p {
  text-align: center;
  color: var(--textcol);
}

/*row incentive*/
.row-incentive {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}
.row-incentive .bg {
  display: block;
  width: 100%;
  max-height: inherit;
  object-fit: cover;
}
.row-incentive .content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 40px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.row-incentive .content-box > h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
  text-wrap: nowrap;
}

/*responsive*/
@media only screen and (max-width: 1024px) {
  /*skills-row*/
  .skills-row [class*="col-"] {
    width: 50%;
  }
  #first-col {
    width: 100%;
  }
  /*hobby-row*/
  .hobby-row [class*="col-"] {
    width: 50%;
  }
  .hobby-row > *:nth-child(2n+1) {
    clear: both;
 }
}

@media only screen and (max-width: 768px) {
  /*about-row*/
  .about-row {
    flex-direction: column;
  }
  .about-row .portrait-box, .about-row .about-box {
    width: 100%;
  }
  .about-row .portrait-box {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .about-row .about-box {
    max-width: none;
    margin-left: 0;
  }
  .about-row .about-box h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .row-incentive .content-box {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 640px) {
  /*skills-row*/
  .skills-row [class*="col-"] {
    width: 100%;
  }
  /*skills-list*/
  .skills-list {
    max-width: none;
    padding-right: 0;
  }
  /*hobby-row*/
  .hobby-row [class*="col-"] {
    width: 100%;
  }
  .row-incentive .content-box > h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .row-incentive .content-box > h1 {
    font-size: 24px;
  }
}

