
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  overflow: auto;
  padding: 15px;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*skills-box*/
.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-box h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--hboxcol);
}

/*skills table*/
.skills-table {
  border-collapse: collapse;
  border: none;
}
.skills-table tr:not(:last-child) {
  border-bottom: 3px solid rgb(40, 40, 40);
}
.skills-table th, .skills-table td {
  padding: 15px 20px;
}
.bullet-row {
  display: flex;
  gap: 10px;
}
.bullet-row .bullet-full {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--pink);
}
.bullet-row .bullet-full .shine-effect {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, white, transparent, transparent);
  opacity: 0.5;
}
.bullet-row .bullet-empty {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--textcol);
}

/*skills-list*/
.skills-list {
  list-style-position: outside;
  max-width: 420px;
  padding: 0 10px;
}
.skills-list li {
  text-align: justify;
  color: var(--textcol);
}

.skills-list li:not(:last-child) {
  margin-bottom: 6px;
}

/*hobby-row*/
.hobby-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}
.hobby-box > i {
  font-size: 60px;
  background: linear-gradient(to bottom, var(--pink), var(--hboxcol));
  color: transparent;
  -webkit-background-clip: text;
}
.hobby-box > h3 {
  font-size: 24px;
  text-align: center;
  color: var(--hboxcol);
  margin-bottom: 6px;
}
.hobby-box > p {
  text-align: center;
  color: var(--textcol);
}
/*responsive*/
@media only screen and (max-width: 1024px) {
  /*skills-row*/
  .skills-row [class*="col-"] {
    width: 50%;
  }
  #first-col {
    width: 100%;
  }
  /*hobby-row*/
  .hobby-row [class*="col-"] {
    width: 50%;
  }
  .hobby-row > *:nth-child(2n+1) {
    clear: both;
 }
}
@media only screen and (max-width: 640px) {
  /*skills-row*/
  .skills-row [class*="col-"] {
    width: 100%;
  }
  /*hobby-row*/
  .hobby-row [class*="col-"] {
    width: 100%;
  }
}

