* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
body {
  background-color: var(--bgcol);
}
:root {
  --pink: rgb(255, 80, 110);
  --gray: rgb(224, 224, 224);
  --bgcol: rgb(30, 30, 30);
  --bgcol2: rgb(20, 20, 20);
  --textcol: rgb(190, 190, 190);
  --hboxcol: rgb(230, 230, 230);
}
.main {
  float: left;
  margin-top: 80px;
  width: 100%;
}
section {
  padding: 20px 20px 40px;
}
section > :not(:last-child) {
  margin-bottom: 50px;
}

 /*nav*/
 nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: var(--bgcol);
  z-index: 101;
}
nav .nav-box  {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
nav .nav-box .name-box {
  display: flex;
}
nav .nav-box .name-box-alt {
  display: none;
  position: relative;
  top: 5px;
  pointer-events: none;
}
nav .nav-box .name-box, nav .nav-box .name-box-alt {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav .nav-box .name-box .text-highlight, nav .nav-box .name-box-alt .text-highlight  {
  margin-left: 10px;
  color: var(--pink);
  font-size: 40px;
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav .nav-box .nav-links {
  display: flex;
  list-style-type: none;
  height: inherit;
}
.nav-links li {
  position: relative;
  height: inherit;
}
.nav-links li a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 12px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-links li a.currentPage {
  color: var(--pink);
  font-weight: 600;
}
.nav-links li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  border-radius: 2px;
  background-color: var(--pink);
  transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
  transform: scaleX(1);
}
.icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-box > :not(:first-child) {
  margin-left: 10px;
}
.icons-box a {
  position: relative;
  background-color: var(--pink);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: background-color 0.3s ease;
}
.icons-box a:hover {
  background-color: white;
}
.icons-box a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}
.icons-box a:hover i {
  color: var(--pink);
}

/*footer*/
footer {
  padding: 20px;
  background-color: var(--bgcol2);
}

footer .copyright {
  text-align: center;
}

 /*h1 inner sections*/
 section > .h1 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0;
}

/*nav-alt*/
.nav-alt {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  overflow: auto;
  background-color: var(--bgcol2);
  border-left: 2px solid var(--bgcol);
  padding-top: 80px;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.nav-alt.open {
  transform: translateX(0);
}
.nav-alt .nav-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav-alt .nav-links li a {
  padding: 30px 0;
  justify-content: center;
  border-bottom: 4px solid var(--bgcol);
}
.nav-alt .icons-box {
  margin: 30px 0 20px;
}
/*hamburger-button*/
.burger-button-box {
  display: none;
  align-items: center;
}
.burger-button {
  display: inline-block;
  cursor: pointer;
  height: fit-content;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s;
}
.burger-button:hover .bar1 {
  background-color: var(--pink);
}
.burger-button.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.burger-button.open .bar2 {
  opacity: 0;
}
.burger-button.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/*button*/
.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  height: fit-content;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.button:hover {
  opacity: 1;
}
.button .text-box {
  padding: 10px 0;
  padding-left: 20px;
  padding-right: 40px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--pink);
  border-radius: 30px 0 0 30px;
}
.button .icon-box {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--pink);
  transition: all 0.2s ease;
}
.button:hover .icon-box {
  background-color: white;
}
.button .icon-box i {
  position: absolute;
  font-size: 30px;
  top:50%;
  left:50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.button:hover .icon-box i {
  color: var(--pink);
}

 /*responsive*/
 @media only screen and (max-width: 1024px) {
  /*nav*/
  nav .nav-box .nav-links {
    display: none;
  }
  nav .nav-box .icons-box {
    display: none;
  }
  .nav-alt {
    display: block;
  }
  .burger-button-box {
    display: flex;
  }
}
@media only screen and (max-width: 640px) {
  nav .nav-box .name-box {
    display: none;
  }
  nav .nav-box .name-box-alt {
    display: flex;
  }
}
