/*project info box*/
.info-box {
  max-width: 1000px;
  margin: 0 auto;
}
.info-box table {
  width: 100%;
}
.info-box table, td, th {
  border-collapse: collapse;
}
.info-box table tr {
  width: 100%;
}
.info-box table td, .info-box table th {
  width: 50%;
  vertical-align: text-top;
  padding: 10px;
  color: var(--textcol);
}
.info-box table th {
  color: var(--pink);
  text-align: right;
}
.info-box table td {
  text-align: justify;
}
/*desc-alt*/
.info-box table .desc-alt {
  display: none;
}
.info-box table .desc-alt td {
  text-align: justify;
  padding: 5px 0 10px;
}

/*slideshow*/
.slideshow-box {
  max-width: 1400px;
  margin: 0 auto;
}
.slideshow-box .slides {
  position: relative;
  width: 100%;
}
.slideshow-box .slides .slide {
  display: none;
}
.slideshow-box .slides .slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-box a {
  position: absolute;
  cursor: pointer;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.slideshow-box a:hover {
  opacity: 1;
}
.slideshow-box .prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.slideshow-box .next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.slideshow-box a:hover > i {
  color: var(--pink);
}
.slideshow-box a i {
  font-size: 60px;
  color: white;
  transition: color 0.3s ease;
}
.fade {
  animation: fade 1s;
}
@keyframes fade {
  from {opacity: 0.8;}
  to {opacity: 1;}
}

/*slideshow-row*/
.slideshow-row {
  display: flex;
  gap: 14px;
  width: 100%;
  height: 150px;
  overflow: auto;
  margin-top: 14px;
}
.slideshow-row .column img {
  display: block;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/*cert-img*/
.cert-box {
  max-width: 700px;
  margin: 0 auto;
}
.cert-img {
  display: block;
  width: 100%;
}

 /*responsive*/
 @media only screen and (max-width: 768px) {
  .slideshow-row {
    height: 80px;
  }
  .slideshow-box a {
    padding: 10px 0;
  }
  .slideshow-box a i {
    font-size: 40px;
  }
}

@media only screen and (max-width: 640px) {
  /*desc*/
  .info-box table .desc td {
    display: none;
  }
  /*desc-alt*/
  .info-box table .desc-alt {
    display: table-row;
  }
}